/* CSS Vairables for easy cutomization */
:root {
  /* Credit: Color pallete has been taken from coolers:https://coolors.co/user/palettes/68d80a7c51f64a000c122aac */
  --black: #000000;
  --french-gray: #c3c3d5;
  --light-blue: #b8dbd9;
  --cool-gray: #8989be;

  /* Semantic color assignments */
  --primary-color: var(--cool-gray);
  --secondary-color: var(--black);
  --accent-color: var(--light-blue);
  --light-color: var(--french-gray);
  --white: #ffffff;

  /* Font Family */

  --primary-font: "Inter", sans-serif;
  --secondary-font: "Poppins", sans-serif;
}

/* Global Styles */

/* Google fonts import */
/* Credit: taken from Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--secondary-font);
  font-weight: 400;
  background-color: var(--accent-color);
  line-height: 1.6rem;
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--secondary-color);
  line-height: 1.3rem;
}

/* custom corners  */

.sharp-corners,
.sharp-corners * {
  border-radius: 0;
}

/* Navigation Styles */

.navbar {
  background-color: var(--white) !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-family: var(--secondary-font);
  font-weight: 500;
  color: var(--secondary-color) !important;
  transition: color 0.3s ease;
  position: relative;
}

.navbar-nav .nav-link:active {
  color: var(--primary-color) !important;
}

/* Hero section styles */
#hero {
  min-height: 500px;
  background-color: var(--light-color);
  background: linear-gradient(
    rgba(195, 206, 213, 0.8),
    rgba(195, 206, 213, 0.9)
  );
  padding: 5% 7%;
  display: flex;
  align-items: center;
}

#hero .container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

#hero h1 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

#hero h2 {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: var(--secondary-color);
}

#hero p {
  font-family: var(--secondary-font);
  font-size: 1.1rem;
  max-width: 800px;
  margin: 0 auto 1.5rem;
  color: var(--secondary-color);
}

#hero .lead {
  font-size: 1.3rem;
  font-weight: 500;
}

#hero strong {
  color: var(--secondary-color);
}

/* Button styles */
.custom-button {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-family: var(--secondary-font);
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  transition: all 0.3s ease;
  color: white;
}

.custom-button:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  transform: translate(-2px);
  color: white;
}

/* About section */

#about {
  background-color: var(--white);
  padding: 2rem 1.5rem;
  font-size: 1.1rem;
  margin: 0 auto;
}

#about h2 {
  font-family: var(--primary-font);
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: var(--secondary-color);
  text-align: center;
}

#about img {
  border: 3px solid var(--primary-color);
  padding: 5px;
  max-width: 465px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

#about ul {
  padding-left: 20px;
  margin: 1rem 0;
}

#about li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
}

#about p {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}

/* Portfolio section */

#portfolio {
  background-color: var(--light-color);
  padding: 2rem 1.5rem;
}

#portfolio h2 {
  font-family: var(--primary-font);
  font-weight: 600;
  margin-bottom: 1.2rem;
  color: var(--secondary-color);
}

#portfolio .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  background-color: var(--white);
}

#portfolio .card:hover {
  transform: translate(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#portfolio .card-title {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

#portfolio .card-text {
  color: #555;
  margin-bottom: 0.5rem;
  min-height: 154px;
}

#portfolio .btn-outline-secondary {
  border: var(--secondary-color);
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-weight: 500;
  transition: all 0.3s ease;
}

#portfolio .btn-outline-secondary:hover {
  background-color: var(--primary-color);
  color: white;
  transform: translate(-1px);
}

/* Contact Section  */

#contact {
  background-color: var(--white);
  padding: 4rem 0;
}

#contact h2 {
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

#contact p {
  max-width: 700px;
  margin: 0 auto 2rem;
  font-size: 1.1rem;
  color: var(--secondary-color);
}

#contact .btn-outline-primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: 500;
  margin: 0 10px 15px;
}

#contact .btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: var(--white);
  transform: translate(-2px);
}

/* Form styles */

.form-label {
  font-family: var(--secondary-font);
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
}

.form-control {
  border: 1px solid #ddd;
  padding: 0.75rem;
  font-family: var(--primary-color);
  transition: var(--cool-gray) 0.3s ease;
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem rgba(137, 137, 190, 0.25);
}

/* Modal section */

.modal-content {
  border: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  background-color: var(--white);
}

.modal-header {
  background-color: var(--light-color);
  border-bottom: 2px solid var(--primary-color);
  padding: 1.5rem;
}

.modal-title {
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--secondary-color);
}

.modal-body {
  padding: 1.5rem;
}

.modal-body p {
  color: var(--primary-color);
}

/* Media Queries */

@media screen and (min-width: 1200px) {
  #hero {
    min-height: 600px;
  }

  #hero h1 {
    font-size: 4rem;
  }

  #portfolio .card-text {
    min-height: 154px;
  }
}

@media screen and (max-width: 768px) {
  #hero {
    min-height: 400px;
    padding: 10% 5%;
    text-align: center;
  }

  #hero h1 {
    font-size: 2.5rem;
  }

  #hero h2 {
    font-size: 1.5rem;
  }

  #portfolio .card {
    margin-bottom: 1.5rem;
  }

  #portfolio .card-text {
    min-height: auto;
  }
}

@media screen and (max-width: 576px) {
  #hero .container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
}


/* Credits: Most of the above css code has been taken from https://github.com/Code-Institute-Solutions/dev-portfolio/blob/main/01.05-customising-the-portfolio-site/01.05.04-challenge-solution/assets/css/style.css and edit and customized according to my project needs. */
