/* CSS Vairables for easy cutomization */
:root {
    --black: #000000;
    --french-gray: #c3c3d5;
    --light-blue: #b8dbd9;
    --cool-gray: #8989be;


    /* Semantic color assignments */
    --primary-color: var(--cool-gray);
    --secondary-color: var(--black);
    --accent-color: var(--light-blue);
    --light-color: var(--french-gray);
    --white: #ffffff;

    /* Font Family */

    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Poppins', sans-serif;

}



/* Global Styles */

/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: var(--secondary-font);
    font-weight: 400;
    background-color: var(--accent-color);
    line-height: 1.6rem;
    color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
    font-weight: 600;
    color: var(--secondary-color);
    line-height: 1.3rem;
}

/* Navigation Styles */

.navbar {
    background-color: var(--white) !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-family: var(--secondary-font);
    font-weight: 500;
    color: var(--secondary-color) !important;
    transition: color 0.3s ease;
    position: relative;
}

.navbar-nav .nav-link:active {
    color: var(--primary-color) !important;
}

/* Hero section styles */
#hero {
    min-height: 500px;
    background-color: var(--light-color);
    background: linear-gradient(rgba(195,206,213, 0.8), rgba(195,206,213, 0.9));
    padding: 5% 7%;
    display: flex;
    align-items: center;
}

#hero h1 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
}

#hero h2 {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: var(--secondary-color);
}

#hero p {
    font-family: var(--secondary-font);
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto 1.5rem;
    color: var(--secondary-color);
}

#hero .lead {
    font-size: 1.3rem;
    font-weight: 500;
}

#hero strong {
    color: var(--secondary-color);
}